<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/guest.js"></script>
  </head>

  <body>
    <header id="page-header" class="page-header"></header>
    <h2><%= title %></h2>
    <h3><%= question %></h3>
    <form id="guest-url-form" class="guest-url-form">
          <div>
            <input id="poll_id" type="text" name="poll-id" value=<%= pollID %>>
          </div>
          <div class="guest-url-form__field-wrapperr">
            <label for="response_1"><%= choice1 %></label>
            <input id="response_1" type="text" name="response_1" placeholder="Enter Rank" data-id1="<%= choice1_id %>">
          </div>
          <div class="guest-url-form__field-wrapper">
            <label for="response_2"><%= choice2 %></label>
            <input id="response_2" type="text" name="response_2" placeholder="Enter Rank" data-id2="<%= choice2_id %>">
          </div>
          <div class="guest-url-form__field-wrapper">
            <label for="response_3"><%= choice3 %></label>
            <input id="response_3" type="text" name="response_3" placeholder="Enter Rank" data-id3="<%= choice3_id %>">
          </div>
          <div class="guest-url-form__field-wrapper">
            <label for="response_4"><%= choice4 %></label>
            <input id="response_4" type="text" name="response_4" placeholder="Enter Rank" data-id4="<%= choice4_id %>">
          </div>
          <div class="guest-url-form__field-wrapper">
              <button id ="guest-url-form-button">Submit</button>
          </div>
        </form>


    <!-- <ul>
      <p>Move items into preferred order, most desirable on top.</p>
      <li><span class='list'>Some link #1</span></li>
      <li><span class='list'>Some link #2</span></li>
      <li><span class='list'>Some link #3</span></li>
      <li><span class='list'>Some link #4</span></li>
    </ul> -->



  </body>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- <script type="text/javascript" src=“https://code.jquery.com/ui/1.12.1/jquery-ui.js”></script> -->
  <script type="text/javascript" src="/network/network.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</html>
