<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://kit.fontawesome.com/433075aa8d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/guest.js"></script>
  </head>

  <body>
    <header id="guest-header" class="guest-header">
      <p id="guest-header-title" class="guest-header-title">
          Make you choise. Have to sorted given list in priority. Drag the highest priority to the top.
      </p>
    </header>
    <div class="container">
    <h2 class="guest-title"><%= title %></h2>
    <h3 class="guest-question"><%= question %></h3>
    <form id="guest-url-form" class="guest-url-form">
      <ul class="list-choises">
        <li id="first-choise" class="list-choises-item" data-question_id="<%= question_id %>" data-id1="<%= choice1_id %>"><%= choice1 %></li>
        <li id="second-choise" class="list-choises-item" data-id2="<%= choice2_id %>"><%= choice2 %></li>
        <li id="third-choise" class="list-choises-item" data-id3="<%= choice3_id %>"><%= choice3 %></li>
        <li id="fourth-choise" class="list-choises-item" data-id4="<%= choice4_id %>"><%= choice4 %></li>
      </ul>
        <div class="guest-url-form__field-wrapper">
            <button class="guest-url-form-btn" id ="guest-url-form-button">Submit</button>
        </div>
        </form>
      </div>
  </body>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
  integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/network/network.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>


</html>
